In [151]:
import pandas as pd
data = pd.read_csv("inputData/F500.csv", index_col=0)
data.to_excel("Fortune 500 2017 - Fortune 500.xlsx")

# Intro

In [152]:
print(10 + 20)

30

In [153]:
#print(x+y)

In [154]:

print (10 + 20)

30

In [155]:
# Besides blank lines, the computer also ignores any sequence of characters that comes to the right of the "#" symbol

In [156]:
# Use "#" as code comments to ad gernal descriptions

In [157]:
# print() function in Python is used to display the output

In [158]:
print(10 + 20)
print(10 + 30)

30
40

In [159]:
#Errors are not a problem and will happen frequently!
#Use Google or ChatGPT and search for answers

In [160]:
print(10 + 20)
print(10 + 30)

30
40

In [161]:
print(10 + 20)
print(10 + 20)

30
30

In [162]:
#We can also perform multiplication and division in Python.
print(1.99 * 2)
print(6.99 / 3)

3.98
2.33

In [163]:
#We can also perform exponentiation (raising a number to a power) by using **
print (4**2)

16

In [164]:
#In Python, we follow the customary mathematical order of operations, often denoted as PEMDAS or BODMAS
print(6.99 + 0 * 10)
print((6.99 + 0) * 10)

6.99
69.9

In [165]:
# Its possible to store values
x = 10
y = 20
z = 30
result = x+z
print (x+y)
print(result)

30
40

In [166]:
# This labeled storage location is what we call a variable. You can use any variable name
# We need to remember to write the variable name on the left side of the "=" sign
result_a = 10
result_a

10

In [167]:
#10 = result_b

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2254392013.py, line 1)

In [168]:
#u cant use a space for a variable
#result a = 10

SyntaxError: invalid syntax (2067121644.py, line 2)

In [169]:
# dont works because of the "$" sign
#price_in_$

SyntaxError: invalid syntax (1730804616.py, line 2)

In [170]:
# we can update a stored variable
result = 10
result = result + 5
result

15

In [171]:
result = 10
result += 5
result
# also possible with the other operators (-=, *=, /=, **=)

15

# Types

In [172]:
# In computer programming, we classify values into different types — or data types.
# The type of value offers the computer the required information about how to process that value. 
# Depending on the type, the computer will know how to store a value in memory, or what operations we can and can't perform on a value.

In [173]:
x = 0
type(x)

int

In [174]:
y = 5.99
type(y)

float

In [175]:
z = x + y
type(z)

float

In [176]:
# To change an integer into a float, we use the float() function
x=float(x)
type(x)

float

In [177]:
y=1.99
int(y)
# int() function will always round a float down

1

In [178]:
y=1.99
int(y)
type(y)

float

In [179]:
# updated is not stored in y -->
y=1.99
y = int(y)
print(type(y))
print(y)

<class 'int'>
1

# Strings

In [180]:
# In Python, we can create text by enclosing a sequence of characters within quotation marks

In [181]:
app = "Facebook"
print(app)

Facebook

In [182]:
type(app)

str

In [183]:
# When we create strings, we can also use numbers, spaces, or other characters

game = 'Clash of Clans'
game = "Clash of Clans"
game_description = "Clash of Clans is free and has an average rating of 4.5"
print(game)
print(game_description)

Clash of Clans
Clash of Clans is free and has an average rating of 4.5

In [184]:
game_description = "so called "Clash of Clans"..."

SyntaxError: invalid syntax (1149590828.py, line 1)

In [185]:
game_description = "so called 'Clash of Clans'..."
game_description

"so called 'Clash of Clans'..."

In [186]:
x = "a" + "b"
x

'ab'

In [187]:
x = "Yes" + " " + "or" +" " + "No"
x

'Yes or No'

In [188]:
# to repeat same string
x = "a" *4
x

'aaaa'

In [245]:
# not possible to combine int with str
x = "a" + 1
x

TypeError: can only concatenate str (not "int") to str

In [190]:
# transform int to str
x = "a" + "1"
x

'a1'

In [191]:
x = "Yes"
y = " or No"
x+y

'Yes or No'

In [192]:
# transform str to int or float
x = "4"
int(x)

4

In [193]:
x = "4.4"
float(x)

4.4

In [194]:
x = "Yes"
int(x)

ValueError: invalid literal for int() with base 10: 'Yes'

In [195]:
"We
want 
to write 
more"

SyntaxError: unterminated string literal (detected at line 1) (2303739954.py, line 1)

In [196]:
"""We
want 
to write
more"""

'We\nwant \nto write\nmore'

# Lists

In [197]:
# A collection of data points makes up a dataset
# Creating a variable for each data point in our dataset would be a cumbersome process 
# Fortunately, we can store data more efficiently using lists.
# open AppleStore data

In [198]:
#To create a list, we do the following:
# row_0 = ["track_name","price","currency","rating_count_tot","user_rating"]
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_1

['Facebook', 0.0, 'USD', 2974676, 3.5]

In [199]:
# A list can contain both mixed and identical data types.
# A list like [4, 5, 6] has identical data types (only integers), 
# while the list ['Facebook', 0.0, 'USD', 2974676, 3.5] has mixed data types

In [200]:
# To find the length of a list, we can use the len() function
len(row_1)

5

In [201]:
# Each element (data point) in a list has a specific number associated with it — the index number
# The indexing always starts at 0
# The index numbers help us retrieve individual elements from a list
row_1[0]
row_1[1]

0.0

In [202]:
# start with the last element
row_1[-1]

3.5

In [203]:
row_1[6]

IndexError: list index out of range

In [204]:
# List slicing
# start and end point (end point not included!)
row_1[1:4]

[0.0, 'USD', 2974676]

In [205]:
# When we need to select the first or last x elements (x stands for a number), we can use even simpler syntax shortcuts:
# [:x] when we want to select the first x elements
row_1[:3]

['Facebook', 0.0, 'USD']

In [206]:
# [-x:] when we want to select the last x elements
row_1[-2:]

[2974676, 3.5]

In [207]:
# To handle larger data sets, we can use a list of lists
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Fruit Ninja Classic', 1.99, 'USD', 698516, 4.5]
row_5 = ['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]
Data = [row_1,row_2,row_3,row_4,row_5]
Data

[['Facebook', 0.0, 'USD', 2974676, 3.5],
 ['Instagram', 0.0, 'USD', 2161558, 4.5],
 ['Clash of Clans', 0.0, 'USD', 2130805, 4.5],
 ['Fruit Ninja Classic', 1.99, 'USD', 698516, 4.5],
 ['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]]

In [208]:
# The "Data" variable is a list, so we can use what we know about lists to get specific parts of it
Data[1:4]

[['Instagram', 0.0, 'USD', 2161558, 4.5],
 ['Clash of Clans', 0.0, 'USD', 2130805, 4.5],
 ['Fruit Ninja Classic', 1.99, 'USD', 698516, 4.5]]

In [209]:
Data[:2]

[['Facebook', 0.0, 'USD', 2974676, 3.5],
 ['Instagram', 0.0, 'USD', 2161558, 4.5]]

In [210]:
# We might want to get a specific part of a list that's inside another list
Data[1][:3]

['Instagram', 0.0, 'USD']

In [211]:
Data[2][0]

'Clash of Clans'

In [212]:
# Task
# Calculate the average rating of the apps in "Data"

In [213]:
(Data[0][-1]+Data[1][-1]+Data[2][-1]+Data[3][-1]+Data[4][-1])/5

4.3

## Loop

In [214]:
# Let's learn how to use a for loop to repeat a process. 
# Suppose we have a list [3.5, 4.5, 4.5, 4.5, 4.5] assigned to a variable app_ratings,
# and we want to repeat the following process: for each element in the app_ratings list,
# print the app rating. This is how we can translate that process into Python syntax:

app_ratings = [3.5, 4.5, 4.5, 4.5, 4.5]

for element in app_ratings:
    print(element)

3.5
4.5
4.5
4.5
4.5

In [215]:
# for i in Data: --> i = iteration variable; Data = iterable variable
#    rating = i[-1]
#    print(rating) --> Body of the loop
# We call each execution of the body an "iteration".
# During each iteration, the "iteration variable" will take on the value of the next item in the list. 
# For example, if the list is [1, 3, 5], then during the first iteration the iteration variable will be 1,
# during the second iteration it will be 3, and during the third iteration it will be 5.

In [216]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Fruit Ninja Classic', 1.99, 'USD', 698516, 4.5]
row_5 = ['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]
Data = [row_1,row_2,row_3,row_4,row_5]
Data

[['Facebook', 0.0, 'USD', 2974676, 3.5],
 ['Instagram', 0.0, 'USD', 2161558, 4.5],
 ['Clash of Clans', 0.0, 'USD', 2130805, 4.5],
 ['Fruit Ninja Classic', 1.99, 'USD', 698516, 4.5],
 ['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]]

In [217]:
# Loop (iterate) over the list of lists "Data"
# Extract the rating of the app
for i in Data:
    rating = i[-1]
    print(rating)

3.5
4.5
4.5
4.5
4.5

In [218]:
# The code outside the loop body can interact with the code inside the loop body
# Values can be stored inside the loop
# You can also use the variables that are used or changed in the loop again outside the loop
# The variable stores the value after the last iteration of the loop
rating_sum = 0
for i in Data:
    rating = i[-1]
    rating_sum = rating + rating_sum
    print(rating_sum)

print(rating_sum)    
rating_sum + 5

3.5
8.0
12.5
17.0
21.5
21.5

26.5

In [219]:
# Back to our task from earlier
# Calculate the average rating of the apps in "Data"
rating_sum = [] # Step 1
for row in Data:
    rating = row[-1] # Step 2
    rating_sum.append(rating) # Step 3

print(rating_sum)

avg_rating = sum(rating_sum) / len(rating_sum) # Step 4
print(avg_rating)

[3.5, 4.5, 4.5, 4.5, 4.5]
4.3

# Conditions

In [220]:
# When we use the == operator to determine if two values are equal, the output will always be True or False
print(4 == 4) # This is true
print(4 == 7) # This is false

True
False

In [221]:
price = 0

print(price == 0)
print(price == 2)

True
False

In [222]:
# Although they may look like strings, True and False belong to a different data type:
print(type(True))

<class 'bool'>

In [223]:
# Boolean values (True and False) are necessary parts of any if statement. 
# One of the following must always follow if: (1) a Boolean value, or (2) an expression that evaluates to a Boolean value.
if True:
    print(100)

100

In [224]:
if 1 == 1:
    print(100)

print(1 == 1)

100
True

In [225]:
# We should indent the code in the body of an if statement four spaces to the right 
# (technically, we only need to indent the code one space to the right, but the convention in the Python community 
# is to use four spaces per indentation level — this is an important habit to form in case you collaborate with others)
if True: 
    print(1) # body

1

In [226]:
if True: 
print(1) # body

IndentationError: expected an indented block after 'if' statement on line 1 (591634725.py, line 2)

In [227]:
# We can include the if condition in our loops

In [228]:
# To isolate only the ratings of the free apps, we need to add a condition to our code. 
# Specifically, we want to add a rating to the ratings list only if the price equals 0.0
rating_sum = [] 
for row in Data:
    rating = row[-1] 
    price = row[1]
    
    if price == 0.0: #If the price = 0.0, then do
        rating_sum.append(rating) # body of an if statement (can have more then one line)
        # a+b=c..
        
print(rating_sum)

avg_rating = sum(rating_sum) / len(rating_sum) 
print(avg_rating)

[3.5, 4.5, 4.5]
4.166666666666667

In [229]:
# Task
# Create a list of all games that are not free
apps = []
for app in Data:
    name = app[0]
    price = app[1]

    if price > 0:
        apps.append(name)

print(apps)

['Fruit Ninja Classic', 'Minecraft: Pocket Edition']

In [230]:
# we can use not equal as well
apps = []
for app in Data:
    name = app[0]
    price = app[1]

    if price != 0:
        apps.append(name)

print(apps)

['Fruit Ninja Classic', 'Minecraft: Pocket Edition']

In [231]:
# So far, we've used the == and != operators only with integers and floats. 
# We can also use them with other data types, such as strings or lists:
print('Games' == 'Music')
print('Games' != 'Music')

False
True

In [232]:
print([1,2,3] == [1,2,3])
print([1,2,3] == [1,2,3,4])

True
False

## Open a data set

In [233]:
opened_file = open('AppleStore.csv', encoding='utf-8') # we need to use the encoding for utf-8 in this case
from csv import reader
read_file = reader(opened_file)
apps_data = list(read_file)

FileNotFoundError: [Errno 2] No such file or directory: 'AppleStore.csv'

In [234]:
#apps_data

In [235]:
# Remember our "Data" data set 
Data
# "Data" is the same as "apps_data" only a larger list with more entries.

[['Facebook', 0.0, 'USD', 2974676, 3.5],
 ['Instagram', 0.0, 'USD', 2161558, 4.5],
 ['Clash of Clans', 0.0, 'USD', 2130805, 4.5],
 ['Fruit Ninja Classic', 1.99, 'USD', 698516, 4.5],
 ['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]]

In [236]:
# Task
# Find out what the average price is for apps in the Games category. Furthermore, find the most expensive game (whats the name?).
games_price = []
for row in apps_data[1:]:
    price = float(row[5])
    genre = row[-5]

    if genre == 'Games':
        games_price.append(price)

avg_price_games = sum(games_price) / len(games_price)
print(avg_price_games)
games_price

NameError: name 'apps_data' is not defined

In [237]:
stored_price = 0
stored_name = ""
for row in apps_data[1:]:
    price = float(row[5])
    name = row[2]
    
    if price > stored_price:
        stored_price=price
        stored_name=name
        
print(stored_price)
print(stored_name)

NameError: name 'apps_data' is not defined

# More about Conditions

In [238]:
# "and" and "or" are also possible conditions
a=5
b=3
if a==5 and b==3:
    print(True)

True

In [239]:
a=5
b=4
if a==5 or b==3:
    print(True)

True

In [240]:
#Possible operators are as follows:
# ==; !=; <; >; >=; <=

In [241]:
# We can check several conditions one after the other.
price = 0.0
if price == 0.0:
    print("free")
if price != 0.0:
    print("not free")

free

In [242]:
#However, this requires a lot of computing power for larger data sets. We therefore use "else" for these cases
price = 1.0
if price == 0.0:
    print("free")
else:    
    print("not free")

not free

In [243]:
# We use "elif" to check a large number of conditions
price = 0.5
if price == 0.0:
    print("free")
elif price > 0.0 and price < 1.0:    
    print("cheap")
elif price >= 1.0:
    print("expensive")

cheap

In [244]:
# also possible to include else 
price = 10.5
if price == 0.0:
    print("free")
elif price > 0.0 and price < 1.0:    
    print("cheap")
elif price >= 1.0 and price <5.0:
    print("affordable")
else:
    print("expensive")

expensive