In [1]:
# import the pandas library
import pandas as pd
f500 = pd.read_csv("inputData/F500.csv", index_col=0)
f500.index.name = None
f500
# Modules, libraries or functions can generally be imported with "import".

,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,75039,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,Michaels Cos.,http://www.michaels.com,31000,Retailing,Specialty Retailers: Other,"Irving, TX",8000 Bent Branch Dr.,Irving,TX,75063,...,Chairman & Chief Executive Officer,"8000 Bent Branch Dr., Irving, TX 75063",MIK,"The Michaels Companies, Inc.",5197,5.8,378.2,4.2,2148,-1698.0
497,Toll Brothers,http://www.tollbrothers.com,4200,Engineering & Construction,Homebuilders,"Horsham, PA",250 Gibraltar Rd.,Horsham,PA,19044,...,Chief Executive Officer & Director,"250 Gibraltar Rd., Horsham, PA 19044",TOL,"Toll Brothers, Inc.",5170,23.9,382.1,5.2,9737,4229.0
498,Yahoo,http://www.yahoo.com,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",701 First Ave.,Sunnyvale,CA,94089,...,"President, Chief Executive Officer & Director","701 First Ave., Sunnyvale, CA 94089",YHOO,Yahoo! Inc.,5169,4.0,-214.3,5.2,48083,31049.0
499,Vistra Energy,http://www.vistraenergy.com,4431,Energy,Energy,"Dallas, TX",1601 Bryan St.,Dallas,TX,75201,...,"President, Chief Executive Officer & Director","1601 Bryan St., Dallas, TX 75201",VST,Vistra Energy Corp.,5164,4.0,-214.3,5.2,15167,6597.0
500,ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services,"New York, NY",1 Liberty Plaza,New York,NY,10006,...,"President, Chief Executive Officer & Director","1 Liberty Plaza, New York, NY 10006",ABM,ABM Industries Incorporated,5145,-2.8,57.2,-25,2281,974.0

In [2]:
# pandas' DataFrames have a ".shape" attribute that returns a tuple representing the dimensions of each axis of the object.
f500.shape

(500, 22)

In [3]:
# To get a look at the first few rows of our DataFrame, we can use the DataFrame.head()
f500.head()
#f500.head(20)

,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,75039,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0

In [4]:
# Similarly, we can use the DataFrame.tail() method to reveal the last rows of our DataFrame:
f500.tail(10)

,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
491,Liberty Media,http://www.libertymedia.com,3626,Media,Entertainment,"Englewood, CO",12300 Liberty Blvd.,Englewood,CO,80112,...,"President, Chief Executive Officer & Director","12300 Liberty Blvd., Englewood, CO 80112",LSXMA,Liberty Media Corporation,5276,10.0,680.0,962.5,31377,11756.0
492,Rockwell Collins,http://www.rockwellcollins.com,19000,Aerospace & Defense,Aerospace and Defense,"Cedar Rapids, IA",400 Collins Rd. N.E.,Cedar Rapids,IA,52498,...,"Chairman, President & Chief Executive Officer","400 Collins Rd. N.E., Cedar Rapids, IA 52498",COL,"Rockwell Collins, Inc.",5259,-0.1,728.0,6.1,7707,2078.0
493,Robert Half International,http://www.roberthalf.com,16400,Business Services,Temporary Help,"Menlo Park, CA",2884 Sand Hill Rd.,Menlo Park,CA,94025,...,Chairman & Chief Executive Officer,"2884 Sand Hill Rd., Menlo Park, CA 94025",RHI,Robert Half International Inc.,5250,3.1,343.4,-4,1778,1087.0
494,CH2M Hill,http://www.ch2m.com,20000,Engineering & Construction,"Engineering, Construction","Englewood, CO",9191 S. Jamaica St.,Englewood,CO,80112,...,"Chairman, President & Chief Executive Officer","9191 S. Jamaica St., Englewood, CO 80112",RHI,"CH2M HILL Companies, Ltd.",5236,-2.3,15.0,-81.3,2671,547.0
495,Big Lots,http://www.biglots.com,23150,Retailing,Specialty Retailers: Other,"Columbus, OH",300 Phillipi Rd.,Columbus,OH,43228,...,"President, Chief Executive Officer & Director","300 Phillipi Rd., Columbus, OH 43228",BIG,"Big Lots, Inc.",5200,0.2,152.8,7,1608,651.0
496,Michaels Cos.,http://www.michaels.com,31000,Retailing,Specialty Retailers: Other,"Irving, TX",8000 Bent Branch Dr.,Irving,TX,75063,...,Chairman & Chief Executive Officer,"8000 Bent Branch Dr., Irving, TX 75063",MIK,"The Michaels Companies, Inc.",5197,5.8,378.2,4.2,2148,-1698.0
497,Toll Brothers,http://www.tollbrothers.com,4200,Engineering & Construction,Homebuilders,"Horsham, PA",250 Gibraltar Rd.,Horsham,PA,19044,...,Chief Executive Officer & Director,"250 Gibraltar Rd., Horsham, PA 19044",TOL,"Toll Brothers, Inc.",5170,23.9,382.1,5.2,9737,4229.0
498,Yahoo,http://www.yahoo.com,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",701 First Ave.,Sunnyvale,CA,94089,...,"President, Chief Executive Officer & Director","701 First Ave., Sunnyvale, CA 94089",YHOO,Yahoo! Inc.,5169,4.0,-214.3,5.2,48083,31049.0
499,Vistra Energy,http://www.vistraenergy.com,4431,Energy,Energy,"Dallas, TX",1601 Bryan St.,Dallas,TX,75201,...,"President, Chief Executive Officer & Director","1601 Bryan St., Dallas, TX 75201",VST,Vistra Energy Corp.,5164,4.0,-214.3,5.2,15167,6597.0
500,ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services,"New York, NY",1 Liberty Plaza,New York,NY,10006,...,"President, Chief Executive Officer & Director","1 Liberty Plaza, New York, NY 10006",ABM,ABM Industries Incorporated,5145,-2.8,57.2,-25,2281,974.0

In [5]:
# Pandas DataFrames can contain columns with multiple data types, including: integer, float, and string
# To learn about the types of each column, we can use the DataFrame.dtypes attribute
f500.dtypes

Title           object
Website         object
Employees        int64
Sector          object
Industry        object
Hqlocation      object
Hqaddr          object
Hqcity          object
Hqstate         object
Hqzip            int64
Hqtel           object
Ceo             object
Ceo-title       object
Address         object
Ticker          object
Fullname        object
Revenues         int64
Revchange      float64
Profits        float64
Prftchange      object
Assets           int64
Totshequity    float64
dtype: object

In [6]:
# If we want an overview of all the dtypes used in our DataFrame, 
# along with its shape and other information, we can use the DataFrame.info() method. 
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 1 to 500
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        500 non-null    object
 1   Website      500 non-null    object
 2   Employees    500 non-null    int64
 3   Sector       500 non-null    object
 4   Industry     500 non-null    object
 5   Hqlocation   500 non-null    object
 6   Hqaddr       500 non-null    object
 7   Hqcity       500 non-null    object
 8   Hqstate      500 non-null    object
 9   Hqzip        500 non-null    int64
 10  Hqtel        500 non-null    object
 11  Ceo          500 non-null    object
 12  Ceo-title    500 non-null    object
 13  Address      500 non-null    object
 14  Ticker       500 non-null    object
 15  Fullname     500 non-null    object
 16  Revenues     500 non-null    int64
 17  Revchange    500 non-null    float64
 18  Profits      500 non-null    float64
 19  Prftchange   500 non-null    object
 20  Assets       500 non-null    int64
 21  Totshequity  500 non-null    float64
dtypes: float64(3), int64(4), object(15)
memory usage: 89.8+ KB

In [7]:
# There are two types of labels in pandas: Row Labels and Column Labels.
# pandas allows us to select data using these friendly labels. The secret weapon? The DataFrame.loc[] attribute! 
f500.loc[1,"Title"]

'Walmart'

In [8]:
# Select a single column
Title = f500["Title"]
Title
# This shortcut for selecting a single column is super popular, and we'll use it throughout our lessons.

1                 Walmart
2      Berkshire Hathaway
3                   Apple
4             Exxon Mobil
5                McKesson
              ...
496         Michaels Cos.
497         Toll Brothers
498                 Yahoo
499         Vistra Energy
500        ABM Industries
Name: Title, Length: 500, dtype: object

In [9]:
# We discovered that when we selected just one column of our DataFrame,
# we were returned to a new pandas object: a pandas.Series object.
type(f500)
type(Title)

pandas.core.series.Series

As we continue our journey into data selection with pandas, keep an eye on which objects are DataFrames and which ones are Series. The functions, methods, attributes, and syntax available to us will vary depending on the type of pandas object we're working with. This distinction will help you become a master of pandas ;)!

In [10]:
# we can also select multiple columns 
f500_new = f500[["Title", "Website"]]
# we need two brackets
f500_new
# is this a Dataframe or a Series?

                  Title                           Website
1               Walmart            http://www.walmart.com
2    Berkshire Hathaway  http://www.berkshirehathaway.com
3                 Apple              http://www.apple.com
4           Exxon Mobil         http://www.exxonmobil.com
5              McKesson           http://www.mckesson.com
..                  ...                               ...
496       Michaels Cos.           http://www.michaels.com
497       Toll Brothers       http://www.tollbrothers.com
498               Yahoo              http://www.yahoo.com
499       Vistra Energy       http://www.vistraenergy.com
500      ABM Industries                http://www.abm.com

[500 rows x 2 columns]

In [11]:
# also possible
f500_new_test = f500.loc[:,["Title", "Website"]]
f500_new_test

                  Title                           Website
1               Walmart            http://www.walmart.com
2    Berkshire Hathaway  http://www.berkshirehathaway.com
3                 Apple              http://www.apple.com
4           Exxon Mobil         http://www.exxonmobil.com
5              McKesson           http://www.mckesson.com
..                  ...                               ...
496       Michaels Cos.           http://www.michaels.com
497       Toll Brothers       http://www.tollbrothers.com
498               Yahoo              http://www.yahoo.com
499       Vistra Energy       http://www.vistraenergy.com
500      ABM Industries                http://www.abm.com

[500 rows x 2 columns]

In [12]:
# Now, let's see how to select specific columns using a slice object with labels
#f500_new = f500[["Title","Industry"]]
#f500_new
f500_new = f500.loc[:,"Title":"Industry"]
f500_new

,Title,Website,Employees,Sector,Industry
1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers
2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock)
3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment"
4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining
5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care
...,...,...,...,...,...
496,Michaels Cos.,http://www.michaels.com,31000,Retailing,Specialty Retailers: Other
497,Toll Brothers,http://www.tollbrothers.com,4200,Engineering & Construction,Homebuilders
498,Yahoo,http://www.yahoo.com,8500,Technology,Internet Services and Retailing
499,Vistra Energy,http://www.vistraenergy.com,4431,Energy,Energy
500,ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services

In [13]:
# The syntax for selecting rows from a DataFrame is the same as for columns
f500_new = f500.loc[5,:]
f500_new

Title                                               McKesson
Website                              http://www.mckesson.com
Employees                                              68000
Sector                                           Wholesalers
Industry                            Wholesalers: Health Care
Hqlocation                                 San Francisco, CA
Hqaddr                                            1 Post St.
Hqcity                                         San Francisco
Hqstate                                                   CA
Hqzip                                                  94104
Hqtel                                           415-983-8300
Ceo                                       John H. Hammergren
Ceo-title      Chairman, President & Chief Executive Officer
Address                  1 Post St., San Francisco, CA 94104
Ticker                                                   MCK
Fullname                                McKesson Corporation
Revenues                                              192487
Revchange                                                6.2
Profits                                               2258.0
Prftchange                                                53
Assets                                                 56563
Totshequity                                           8924.0
Name: 5, dtype: object

In [14]:
# selectrows
f500_new = f500.loc[5:10]
f500_new
#f500_new = f500[5:10]
#f500_new
# Notice that we don't need to use the .loc attribute or nested brackets here. 
# Also, the last element in the slice is included, unlike with regular Python slicing. Selecting rows using slices is very clean!

#f500_new = f500.loc[5:10,:]
#f500_new

,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0
6,UnitedHealth Group,http://www.unitedhealthgroup.com,230000,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",9900 Bren Rd. E.,Minnetonka,MN,55343,...,Chief Executive Officer & Director,"9900 Bren Rd. E., Minnetonka, MN 55343",UNH,UnitedHealth Group Incorporated,184840,17.7,7017.0,20.7,122810,38274.0
7,CVS Health,http://www.cvshealth.com,204000,Health Care,Health Care: Pharmacy and Other Services,"Woonsocket, RI",1 CVS Dr.,Woonsocket,RI,2895,...,"President, Chief Executive Officer & Director","1 CVS Dr., Woonsocket, RI 02895",CVS,CVS Health Corporation,177526,15.8,5317.0,1.5,94462,36830.0
8,General Motors,http://www.gm.com,225000,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",300 Renaissance Center,Detroit,MI,48265,...,Chairman & Chief Executive Officer,"300 Renaissance Center, Detroit, MI 48265",GM,General Motors Company,166380,9.2,9427.0,-2.7,221690,43836.0
9,AT&T,http://www.att.com,268540,Telecommunications,Telecommunications,"Dallas, TX",208 S. Akard St.,Dallas,TX,75202,...,"Chairman, President & Chief Executive Officer","208 S. Akard St., Dallas, TX 75202",T,AT&T Inc.,163786,11.6,12976.0,-2.8,403821,123135.0
10,Ford Motor,http://www.ford.com,201000,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",1 American Rd.,Dearborn,MI,48126,...,"President, Chief Executive Officer & Director","1 American Rd., Dearborn, MI 48126",F,Ford Motor Company,151800,1.5,4596.0,-37.7,237951,29170.0

In [15]:
# Until now, we've only selected either rows or columns, but not both at the same time. Howerever, it works as we would expect: 
# by combining the syntax used for selecting rows with the syntax used for selecting columns.
# Are you up to the challenge? Let's go!
# Create a new dataframe from the rows 50 to 100 and the columns Website,Employees, Sector and Fullname.
# Create a new series of your choice.
f500_new = f500.loc[50:100,["Website","Employees","Sector","Fullname"]]
f500_new
f500_series = f500["Fullname"]
f500_series
type(f500_series)

pandas.core.series.Series

In [16]:
# df.loc[row_label, column_label]
# df.loc["row1":"row5", ["col1", "col3", "col7"]]
f500_new = f500.loc[5:10,"Title":"Industry"]
f500_new

,Title,Website,Employees,Sector,Industry
5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care
6,UnitedHealth Group,http://www.unitedhealthgroup.com,230000,Health Care,Health Care: Insurance and Managed Care
7,CVS Health,http://www.cvshealth.com,204000,Health Care,Health Care: Pharmacy and Other Services
8,General Motors,http://www.gm.com,225000,Motor Vehicles & Parts,Motor Vehicles and Parts
9,AT&T,http://www.att.com,268540,Telecommunications,Telecommunications
10,Ford Motor,http://www.ford.com,201000,Motor Vehicles & Parts,Motor Vehicles and Parts

In [17]:
# Let's explore the Series.value_counts() method to see how it takes each unique non-null value in a column,
# and counts how many times it appears as a value in that column.
# First, let's select just one column from the f500 DataFrame:
sectors = f500["Sector"]

In [18]:
sectors.value_counts()

Sector
Financials                       84
Energy                           57
Retailing                        47
Technology                       43
Health Care                      38
Wholesalers                      29
Food, Beverages & Tobacco        24
Business Services                20
Materials                        19
Industrials                      19
Transportation                   17
Chemicals                        14
Engineering & Construction       13
Household Products               12
Aerospace & Defense              12
Media                            11
Hotels, Restaurants & Leisure    10
Telecommunications               10
Motor Vehicles & Parts            9
Food & Drug Stores                7
Apparel                           5
Name: count, dtype: int64

In [19]:
# What happens when we try using the value_counts() method directly on a DataFrame object instead of a Series object? 
f500[["Industry","Sector"]].value_counts()

Industry                                  Sector
Utilities: Gas and Electric               Energy               22
Specialty Retailers: Other                Retailing            21
Insurance: Property and Casualty (Stock)  Financials           20
Commercial Banks                          Financials           19
Chemicals                                 Chemicals            14
                                                               ..
Forest and Paper Products                 Materials             1
Miscellaneous                             Materials             1
                                          Industrials           1
                                          Business Services     1
Internet Services and Retailing           Retailing             1
Name: count, Length: 76, dtype: int64

calling value_counts() on a DataFrame object look slightly different than the results we got when we called it on a Series object. This is because the DataFrame.value_counts() method returns a Series object that uses a MultiIndex instead of a single index like we got when using Series.value_counts()

In the example above, the counts returned are based on a combination of the unique non-null values found in both the sector and industry columns. For example, the combination of "Energy" in the sector column and "Utilities: Gas and Electric" in the industry column occurs 22 times in our data. However, the combination of "Materials" in the sector column and "Forest and Paper Products" in the industry column only occurs once.

In [20]:
# we can use method chaining — a way to combine multiple methods together in a single line
f500["Profits"].value_counts().loc[1768.0]

2

In [21]:
# With Pandas its possible to work with vectorized operations --> operations applied to multiple data points at once
f500["Revenues"].head()
#f500["Revenues"].head()+1000
#f500["Revenues"].head()/1000

1    485873
2    223604
3    215639
4    205004
5    192487
Name: Revenues, dtype: int64

In [22]:
# It is also possible to perform these operations with two columns
f500["Revenues"].head() - f500["Profits"].head()

1    472230.0
2    199530.0
3    169952.0
4    197164.0
5    190229.0
dtype: float64

In [23]:
# pandas supports many descriptive stats methods that can help us
f500["Profits"].max()
#f500["Profits"].mean()

45687.0

Series.max()
Series.min()
Series.mean()
Series.median()
Series.mode()
Series.sum()

In [24]:
# We can also use these values for calculation 
f500["Profits"] - f500["Profits"].mean()

1      11863.5202
2      22294.5202
3      43907.5202
4       6060.5202
5        478.5202
          ...
496    -1401.2798
497    -1397.3798
498    -1993.7798
499    -1993.7798
500    -1722.2798
Name: Profits, Length: 500, dtype: float64

In [25]:
#if we wanted to find the median (middle) value for the revenues and profits columns, we could use the following code
medians = f500[["Revenues", "Profits"]].median(axis=0)
medians

Revenues    11384.0
Profits       683.6
dtype: float64

In [26]:
# Next, we'll learn another method that can help us - the Series.describe() method. 
# This method tells us how many non-null values are contained in the series, 
# along with the mean, minimum, maximum, and other statistics 
f500["Profits"].describe()

count      500.000000
mean      1779.479800
std       3937.558721
min      -6177.000000
25%        235.725000
50%        683.600000
75%       1770.775000
max      45687.000000
Name: Profits, dtype: float64

In [27]:
# Also possible for the entire dataframe
f500.describe()
#f500.max()
#f500.max(numeric_only=True)
#describe = f500.describe(include=['O']) # O not 0
#describe

,Employees,Hqzip,Revenues,Revchange,Profits,Assets,Totshequity
count,5.000000e+02,500.000000,500.000000,500.00000,500.000000,5.000000e+02,500.0000
mean,5.635013e+04,46791.714000,24111.748000,3.75800,1779.479800,8.038934e+04,13640.1470
std,1.234520e+05,30160.384765,38337.353337,19.96748,3937.558721,2.704257e+05,30523.1538
min,8.300000e+01,1104.000000,5145.000000,-57.50000,-6177.000000,4.370000e+02,-12688.0000
25%,1.190000e+04,19099.000000,7245.000000,-3.82500,235.725000,8.436500e+03,1997.5000
50%,2.500000e+04,46244.500000,11384.000000,1.90000,683.600000,1.932450e+04,4981.0000
75%,5.682525e+04,75045.000000,22605.250000,7.32500,1770.775000,4.812600e+04,12467.7500
max,2.300000e+06,98188.000000,485873.000000,197.30000,45687.000000,3.287968e+06,283001.0000

In [28]:
#One difference is that we need to manually specify if you want to see the statistics for the non-numeric columns.
#By default, DataFrame.describe() will return statistics for only numeric columns. 
#If we wanted to get just the object columns, we need to use the include=['O'] parameter:
describe = f500.describe(include=['O']) # O not 0
describe

,Title,Website,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqtel,Ceo,Ceo-title,Address,Ticker,Fullname,Prftchange
count,500,500,500,500,500,500,500,500,500,500,500,500,500,500,500
unique,500,499,21,73,246,491,239,37,499,496,12,494,468,500,377
top,Walmart,http://www.abbott.com,Financials,Utilities: Gas and Electric,"New York, NY",12300 Liberty Blvd.,New York,NY,650-857-1501,Gregory J. Goff,"President, Chief Executive Officer & Director","400 Atlantic St., Stamford, CT 06901",NFLX,"Wal-Mart Stores, Inc.",5.2
freq,1,2,84,22,45,2,45,54,2,2,189,2,3,1,6

In [29]:
# It is possible to change the index
# Creat new column with the index values (because it was our company ranking)
f500["rank"] = f500.index

# Set 'columnName' as the new index
f500.set_index('Title', inplace=True)
f500.index.name = None
f500

,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,Hqtel,...,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity,rank
Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,479-273-4000,...,"702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0,1
Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,402-346-1400,...,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0,2
Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,408-996-1010,...,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0,3
Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,75039,972-444-1000,...,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0,4
McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,415-983-8300,...,"1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Michaels Cos.,http://www.michaels.com,31000,Retailing,Specialty Retailers: Other,"Irving, TX",8000 Bent Branch Dr.,Irving,TX,75063,972-409-1300,...,"8000 Bent Branch Dr., Irving, TX 75063",MIK,"The Michaels Companies, Inc.",5197,5.8,378.2,4.2,2148,-1698.0,496
Toll Brothers,http://www.tollbrothers.com,4200,Engineering & Construction,Homebuilders,"Horsham, PA",250 Gibraltar Rd.,Horsham,PA,19044,215-938-8000,...,"250 Gibraltar Rd., Horsham, PA 19044",TOL,"Toll Brothers, Inc.",5170,23.9,382.1,5.2,9737,4229.0,497
Yahoo,http://www.yahoo.com,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",701 First Ave.,Sunnyvale,CA,94089,408-349-3300,...,"701 First Ave., Sunnyvale, CA 94089",YHOO,Yahoo! Inc.,5169,4.0,-214.3,5.2,48083,31049.0,498
Vistra Energy,http://www.vistraenergy.com,4431,Energy,Energy,"Dallas, TX",1601 Bryan St.,Dallas,TX,75201,214-812-4600,...,"1601 Bryan St., Dallas, TX 75201",VST,Vistra Energy Corp.,5164,4.0,-214.3,5.2,15167,6597.0,499
ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services,"New York, NY",1 Liberty Plaza,New York,NY,10006,212-297-0200,...,"1 Liberty Plaza, New York, NY 10006",ABM,ABM Industries Incorporated,5145,-2.8,57.2,-25,2281,974.0,500

In [30]:
# This makes it easier for us to access values for the specific companies (otherwise also possible, of course).
f500.loc["Apple","Revenues"]

215639

In [31]:
# reset Index
f500.reset_index(inplace=True)
f500

,index,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,...,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity,rank
0,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,...,"702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0,1
1,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,...,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0,2
2,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,...,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0,3
3,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,75039,...,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0,4
4,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,...,"1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Michaels Cos.,http://www.michaels.com,31000,Retailing,Specialty Retailers: Other,"Irving, TX",8000 Bent Branch Dr.,Irving,TX,75063,...,"8000 Bent Branch Dr., Irving, TX 75063",MIK,"The Michaels Companies, Inc.",5197,5.8,378.2,4.2,2148,-1698.0,496
496,Toll Brothers,http://www.tollbrothers.com,4200,Engineering & Construction,Homebuilders,"Horsham, PA",250 Gibraltar Rd.,Horsham,PA,19044,...,"250 Gibraltar Rd., Horsham, PA 19044",TOL,"Toll Brothers, Inc.",5170,23.9,382.1,5.2,9737,4229.0,497
497,Yahoo,http://www.yahoo.com,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",701 First Ave.,Sunnyvale,CA,94089,...,"701 First Ave., Sunnyvale, CA 94089",YHOO,Yahoo! Inc.,5169,4.0,-214.3,5.2,48083,31049.0,498
498,Vistra Energy,http://www.vistraenergy.com,4431,Energy,Energy,"Dallas, TX",1601 Bryan St.,Dallas,TX,75201,...,"1601 Bryan St., Dallas, TX 75201",VST,Vistra Energy Corp.,5164,4.0,-214.3,5.2,15167,6597.0,499
499,ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services,"New York, NY",1 Liberty Plaza,New York,NY,10006,...,"1 Liberty Plaza, New York, NY 10006",ABM,ABM Industries Incorporated,5145,-2.8,57.2,-25,2281,974.0,500

In [32]:
f500.set_index('index', inplace=True)
f500.index.name = None
f500

,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,Hqtel,...,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity,rank
Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,479-273-4000,...,"702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0,1
Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,402-346-1400,...,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0,2
Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,408-996-1010,...,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0,3
Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,75039,972-444-1000,...,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0,4
McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,415-983-8300,...,"1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Michaels Cos.,http://www.michaels.com,31000,Retailing,Specialty Retailers: Other,"Irving, TX",8000 Bent Branch Dr.,Irving,TX,75063,972-409-1300,...,"8000 Bent Branch Dr., Irving, TX 75063",MIK,"The Michaels Companies, Inc.",5197,5.8,378.2,4.2,2148,-1698.0,496
Toll Brothers,http://www.tollbrothers.com,4200,Engineering & Construction,Homebuilders,"Horsham, PA",250 Gibraltar Rd.,Horsham,PA,19044,215-938-8000,...,"250 Gibraltar Rd., Horsham, PA 19044",TOL,"Toll Brothers, Inc.",5170,23.9,382.1,5.2,9737,4229.0,497
Yahoo,http://www.yahoo.com,8500,Technology,Internet Services and Retailing,"Sunnyvale, CA",701 First Ave.,Sunnyvale,CA,94089,408-349-3300,...,"701 First Ave., Sunnyvale, CA 94089",YHOO,Yahoo! Inc.,5169,4.0,-214.3,5.2,48083,31049.0,498
Vistra Energy,http://www.vistraenergy.com,4431,Energy,Energy,"Dallas, TX",1601 Bryan St.,Dallas,TX,75201,214-812-4600,...,"1601 Bryan St., Dallas, TX 75201",VST,Vistra Energy Corp.,5164,4.0,-214.3,5.2,15167,6597.0,499
ABM Industries,http://www.abm.com,110000,Business Services,Diversified Outsourcing Services,"New York, NY",1 Liberty Plaza,New York,NY,10006,212-297-0200,...,"1 Liberty Plaza, New York, NY 10006",ABM,ABM Industries Incorporated,5145,-2.8,57.2,-25,2281,974.0,500

In [33]:
# Perform assignment in pandas
top5_rank_revenue = f500[["rank", "Revenues"]].head()
print(top5_rank_revenue)

                    rank  Revenues
Walmart                1    485873
Berkshire Hathaway     2    223604
Apple                  3    215639
Exxon Mobil            4    205004
McKesson               5    192487

In [34]:
top5_rank_revenue["Revenues"] = 0
print(top5_rank_revenue)

                    rank  Revenues
Walmart                1         0
Berkshire Hathaway     2         0
Apple                  3         0
Exxon Mobil            4         0
McKesson               5         0

In [35]:
# By providing labels for both axes, we can assign them to a single value within our dataframe.
top5_rank_revenue.loc["Apple", "Revenues"] = 999
print(top5_rank_revenue)

                    rank  Revenues
Walmart                1         0
Berkshire Hathaway     2         0
Apple                  3       999
Exxon Mobil            4         0
McKesson               5         0

In [36]:
# we can use boolean indexing to change all rows that meet the same criteria
num_bool = top5_rank_revenue["Revenues"]>0
result = top5_rank_revenue[num_bool]
result
#print(num_bool)

       rank  Revenues
Apple     3       999

In [37]:
# We can also combine boolean indexing and assigning
top5_rank_revenue.loc[top5_rank_revenue["Revenues"] == 999,"Revenues"] = 0
top5_rank_revenue

                    rank  Revenues
Walmart                1         0
Berkshire Hathaway     2         0
Apple                  3         0
Exxon Mobil            4         0
McKesson               5         0

In [38]:
# to remind you
top_2_sectors = f500["Sector"].value_counts().head(2)
print(top_2_sectors)

Sector
Financials    84
Energy        57
Name: count, dtype: int64

In [39]:
# Now a task, find the 5 most frequent values for the Industry column for the Financials sector 
# and  the 10 most frequent values for the Industry column for the Energy sector

In [40]:
Sector_Finance = f500.loc[f500["Sector"] == "Financials", "Industry"].value_counts().head(5)
Sector_Energy = f500.loc[f500["Sector"]=="Energy","Industry"].value_counts().head(10)
Sector_Finance
#Sector_Energy

Industry
Insurance: Property and Casualty (Stock)    20
Commercial Banks                            19
Diversified Financials                      12
Insurance: Life, Health (Stock)             10
Insurance: Life, Health (Mutual)             7
Name: count, dtype: int64